/* Importação de Fontes */
@font-face {
    font-family: 'floane';
    src: url(fonts/Floane-Regular.otf);
}

@font-face {
    font-family: 'ostrich';
    src: url(fonts/OstrichSans-Heavy.otf);
}

@font-face {
    font-family: 'aqua';
    src: url(fonts/Meridies\ Antiqua.otf);
}

@font-face {
    font-family: 'sunflower';
    src: url(fonts/MADE\ Sunflower\ PERSONAL\ USE.otf);
}

/* Estilização do corpo */
body {
    padding: 0;
    margin: auto;
    background-color: #2e2e2e;
    color: whitesmoke;
    font-family: 'floane';
    position: relative;
}

.logo {
    border-radius: 50%;
}

.nomeAcademia {
    position: absolute;
    margin-top: 25px;
    margin-left: 100px;
    width: auto;
    font-size: 20px;
}

.home {
    border-radius: 50%;
    padding: 30px;
    left: 20px;
    top: 7px;
    position: absolute;
    background-image: url(img/logo.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #181818;
  }
  
  li {
    float: left;
  }
  
  .right li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #5f1010;
  }

  li p {
    margin: 0;
  }

  .right {
    display: flex;
    justify-content: flex-end;
}





.footer {
    display: block;
    text-align: center;
    background-color: #181818;
    height: 110px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
}